body, html {
  height: 100%;
}

#contentWrapper {
	width:100%;
	position:relative;
	height:100%;
	background-color:#d3cfc7;
}

#contents {
	width:75.5%;
	margin-left:200px;
	height:90%;
	background-color:white;
	box-shadow: 0 5px 35px 0 rgba(0, 0, 0, 0.8);
}

#sideImgLayer{
	position: absolute;
	width:400px;
	right: 12.5%;
	top: 12%;
	overflow:hidden;
	z-index:1;
	
}

#listNameLayer {
	height: 60px;
	position: relative;
	top: 12.5%;
	letter-spacing: 10px;
	margin-left: 13%;
	margin-right: 31%;
}

#previousPage {
	width: 1.2%;
	float: left;
	margin-top: 35px;
	cursor : pointer;
}

#listName {
	font-size: 22px;
	color: black;
	position: relative;
	width: 100%;
	height: 100%;
	margin-left: 20px;
	top: 25px;
}

#collectionInfoLayer {
	width: 80%;
	height: 70%;
	position: relative;
	top: 15%;
	margin-left: 13.5%;
}

.title {
	font-size: 22px;
	position: relative;
	margin-left: 45px;
	top: 22px;
}

.triangle {
	width: 0;
	height: 0;
	border-top: 12px solid #e64c65;
	border-left: 12px solid transparent;
	position: absolute;
	display: inline-block;
	top: 30px;
	margin-left: 26px;
}

#shareAndDesc {
	font-size: 15px;
	margin-top: 30PX;
	margin-left: 5%;
}

#shareAndDesc #inputDescription {
	width: 50%;
	padding: 3px;
	border: 3px solid #00cd99;
	-webkit-border-radius: 0.6em;
}

#inputTags{
	width:100%;
	padding-top:30px;
}


#inputTags .tagsDiv{
	width:20%;
	height:200px;
	position:relative;
	left:4%;
	float:left;
	margin:30px 10px 0px 0px;
/* 	border:4px solid #00cd99;
	-webkit-border-radius: 1em;
 */	padding:1% 1%;
}

#inputTags .tagLists{
	list-style:none;
    padding-left:3%;
    margin:0;
}

.tagLists li{
	margin:3% 0;
	color:gray;
}

.tagsDiv .classifytitle{
	position:relative;
	margin:auto;
}

input[class="tags"] + label {
   display: inline-block;
   width: 11px;
   height: 11px;
   background-color: #bcbcbc;
   cursor: pointer;
   margin-right:10px;
}

input[class="tags"]:checked + label {
    background-color: #00cd99;
}

input[class="tags"] {
  display: none;
}

#controllButton{
	position: relative;
	top: 50%;
}

#saveCollection {
	border: 2px solid gray;
	-webkit-border-radius: 0.3em;
	background: white;
	color: gray;
	width: 90px;
	height: 35px;
	float: right;
	margin-top: 20px;
	margin-right: 20%;
	opacity: 0.6;
}