@CHARSET "UTF-8";

@font-face {
	font-family: "NANUMGOTHIC"; /* 폰트 패밀리 이름 주기*/
	src: url(../font/NANUMGOTHIC.TTF); /*폰트 파일 주소*/
	font-weight:normal;
	font-style:normal;
}

*:focus {outline : none;}

body {
	margin:0;
	font-family: "NANUMGOTHIC";
}

header{
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(38,46,51,0.96)), color-stop(18%,rgba(37,44,50,0.97)), color-stop(48%,rgba(33,40,46,0.98)), color-stop(76%,rgba(30,37,43,0.99)), color-stop(99%,rgba(38,46,52,1)), color-stop(100%,rgba(38,46,52,1)));
	position:fixed;
	top:0;
	height:60px;
	width:100%;	
	display:table;
	z-index:300;
}

header .menubar {
	position: absolute;
	left: 218px;
	top: 10px;
	height: 40px;
	width: 300px;
}

.menubar .menu {
	position:relative;
	top:4px;
	font-family: NANUMGOTHIC
	margin-left:10px;
}

header .menubar #logoArea {
	font-weight:bold;
	color:white;
	font-size:25px;
	right: 20px;
} 

header .menubar #songArea {
	font-weight: lighter;
	color: white;
	display: table-cell;
	padding-left: 15px;
	position: absolute;
	margin-top: 12px;
	height: 19px;
	margin-left: 120px;
	opacity: 0.5;
	border-width: 3px;
	line-height: 1;
	border-left: solid 1px rgba(255, 255, 255, 0.5);
	font-size: 17px;
	padding-top: 2px;
	letter-spacing: 1.5px;
}

header .menubar #listArea {
	font-weight: lighter;
	color: white;
	display: table-cell;
	padding-left: 15px;
	position: absolute;
	margin-top: 12px;
	height: 19px;
	margin-left: 210px;
	opacity: 0.5;
	border-width: 3px;
	line-height: 1;
	border-left: solid 1px rgba(255, 255, 255, 0.5);
	font-size: 17px;
	padding-top: 2px;
	letter-spacing: 2px;
}

header .menubar .unifiedSearch {
	width: 280px;
	background-color: #1b1f23;
	padding: 0.5em;
	-webkit-border-radius: 0.9em;
	border: 1px none black;
	display: inline;
	position: absolute;
	top: 12px;
	height: 18px;
	margin-left: 230px;
	padding-top: 4px;
	outline: none;
	padding-left: 15px;
	color : white;
}

.nav_search_box #search_img {
	margin-left: 500px;
	height: 14px;
	width: 14px;
	-webkit-filter: brightness(2);
	top: 18px;
	position: absolute;
}

#modifyImg {
	position: absolute;
	top: 5px;
	left: 1055px;
	height: 38px;
	width: 38px;
}

#modifyUl {
	position: absolute;
	top: 5px;
	left: 994px;
	height: 80px;
	width: 100px;
	background : -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(38,46,51,0.96)), color-stop(18%,rgba(37,44,50,0.97)), color-stop(48%,rgba(33,40,46,0.98)), color-stop(76%,rgba(30,37,43,0.99)), color-stop(99%,rgba(38,46,52,1)), color-stop(100%,rgba(38,46,52,1)));
	color : white;
	top : 30px;
	text-align : center;
	padding-left : 0;
	list-style:none;
	-webkit-border-radius: 0.5em;
	opacity: 0.95;
}

.modifyLi {
	margin-top : 10px;
	margin-bottom : 10px;
	list-style:none;
}

.modifyLi a {
	color:white;
	text-decoration:none;
}

.drop_list #modifyUl {
	display : none;
}

#modifyBtn:hover #modifyUl {
	 display: block;
}

#modifyBtn a:hover, a:focus {
	color: #00CD97;
	text-decoration: none;
}

/*!!Scroll Style start!!!*/
::-webkit-scrollbar {
    width: 8px;
    height : 12px;
}
 
/* Track */
::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.2); 
    -webkit-border-radius: 3px;
    border-radius: 3px;
}
 
/* Handle */
::-webkit-scrollbar-thumb {
    -webkit-border-radius: 10px;
    border-radius: 10px;
    background:#b3b3b3; 
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5); 
}

::-webkit-scrollbar-thumb:window-inactive {
	background: rgba(255,0,0,0.4); 
}