header .menubar .unifiedSearch {
	width: 300px;
	background-color: #1b1f23;
	padding: 0.5em;
	-webkit-border-radius: 0.9em;
	border: 1px none black;
	display: inline;
	position: absolute;
	top: 13px;
	height: 26px;
	margin-left: 230px;
	padding-top: 4px;
	outline: none;
	padding-left: 15px;
}

.contentWrapper {
	width:100%;
	background-color:#d3cfc7;
	top:60px;
	height: 2200px;
	position:absolute;	
	bottom : 74px;
}

.contentWrapper .contents {
	position:relative;
	z-index:3;
	margin-left:200px;
	margin-right:200px;
	background-color:#ffffff;
	height: 2200px;
	bottom: 150px;
	box-shadow: 0 5px 35px 0 rgba(0, 0, 0, 0.8);
}

.contents .left_content {
	position:absolute;
	display:block;
	width:300px;
	height:1000px;	
	margin-left:35px;
	top: 170px;
}

.contents .right_content {
	position:absolute;
	left:295px;
	width:809px;
	display:block;
	height:1000px;
	top: 150px;
}

.title {
	position:relative;
	font-weight: bolder;
	font-size: 22px;
	margin-top:15px;
	color: gray;
}

.hr {
	margin-top: 20px;
	border-width: 1px 0px 0px 0px;
	border-style: solid;
	border-color: #808080;
	height: 1px;
	opacity: 0.3;
}

.left_content .userInfoArea {
	position:absolute;
	top: 8px;
	width:250px;
	height:50px;
}

.saveList {
	position: absolute;
	left: 100px;
	top: 23px;
	background: #00CD97;
	border: 4px none #00cd99;
	-webkit-border-radius: 0.5em;
	color: floralwhite;
	width: 60px;
	height: 25px;
}

.left_content .filterArea {
	position:absolute;
	top:100px;
	width:250px;
	height:700px;
	
}

.filterArea .selectArea {
	position:relative;
	color : gray;
	padding-left: 0;
	height : 550px;
	overflow:scroll;
	overflow-x:hidden;
	padding-bottom : 20px;
}

.filterArea .genre {
	margin-left: 15px;
	position: absolute;
	top: 10px;
}
.selectArea .option {
	position : relative;
	display : block;
	width : 247px;
	height  : 40px;
	cursor : pointer;
}

.option:hover {
	color : black;
}

.triangle {
	width: 0;
	height: 0;
	border-top: 12px solid #e64c65;
	border-left: 12px solid transparent;
	position: absolute;
	display: inline-block;
	top: 57px;
}

.right_content .songList {
	position:relative;
	overflow:hidden;
	margin-right:25px;
	padding-top:53px;	
}

.right_content .genreDIV {
	display:table;
	width:100%;
	height:35px;
}

.right_content .genreTitle {
	display: table-cell;
	position: relative;
	padding-left: 8px;
	font-size: 19px;
	color: black;
	font-weight: 900;
}

.btn {
	float: right;
	width: 7px;
	cursor: pointer;
	position: relative;
	top: 17px;
	margin-right: 7px;
}

.songList .songWrapper {
	display:relative;
	max-width:100%;
	height:220px;
	padding-left: 10px;
	-webkit-transition:all 1.0s ease-in-out;
}

.songContent {
	display:table-cell;
	position:relative;
	padding-right:20px;
	overflow:visible;
	height:190px;
	padding-top:10px;
}

.songContent .album_border{
	border:1px solid #828987;
	width:132px;
	height:132px;
}

.songContent .albumImg {
	height:130px;
	width:130px;
	padding-bottom:0;
	cursor:pointer;
}

.songContent .albumInfo {
	margin-top:6px;
	width:130px;
	text-align:center;
}

.songContent .artistInfo {
	display:block;
	max-width:130px;
	font-size:12px;
	padding-top:12px;
	white-space:nowrap;
	text-overflow:ellipsis;
	overflow:hidden;
}

.songContent .titleInfo {
	display:block;
	overflow:hidden;
	max-width:130px;
	font-size:12px;
	color:gray;
	white-space:nowrap;
	text-overflow:ellipsis;
}

.overlayRect{
	width : 130px;
	height : 130px;
	position : absolute;
	background : black;
	opacity : 0.7;	
}

.overlayAdd{
	display: table-cell;
	position: absolute;
	top: 60px;
	z-index: 3;
	width: 38px;
	height: 38px;
	text-align: center;
	vertical-align: middle;
	margin-left: 5px;
	cursor : pointer;
}

#plus {
	cursor: pointer;
	position: absolute;
	font-size: 18px;
	color: white;
}

#play {
	left: 34px;
	top: 53px;
	width: 54px;
	height: 54px;
}

#more {
	left: 85px;
}

#pause {
	left: 40px;
	top: 58px;
}

.addedSongContent {
	width: 155px;
	height: 50PX;
	background-color: #181818;
	box-shadow: 0 1px 0 0 rgba(255,255,255,0.05),inset 0 1px 0 0 rgba(0,0,0,0.2);
	display: inline-block;
	margin-right: 8px;
	-webkit-border-radius: 0.2em;
	position: relative;
	padding-top: 6px;
	padding-left: 4px;
}

#saveSongInfo {
	width:1500px;
	height:74px;
	background-color:#000;
	position:fixed;
	bottom:0;
	z-index:10;
	padding-top : 7px;
	padding-left : 7px;
	overflow-x:scroll;
	overflow-y : hidden;
}

#player {
	top: 17px;
	position: fixed;
	z-index: 310;
	left: 1010;
}

.savedWrapper {
	max-width : 3000px;
	width:3000px;
}

.addedSongContent .songInfo {
	position: relative;
	left: 58px;
	color: white;
	height: 20px;
	white-space: nowrap;
	text-overflow: ellipsis;
	width: 80px;
	overflow: hidden;
}

.xBox {
	width:20px;
	height:20px;
	position:absolute;
	z-index:20;
	top:0;
	left:140px;
	cursor : pointer;
}

.filterImg {
	position : absolute;
	width : 815px;
	height : 145px;
}

/*!!Scroll Style start!!!*/
::-webkit-scrollbar {
    width: 8px;
    height : 12px;
}
 
/* Track */
::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.2); 
    -webkit-border-radius: 3px;
    border-radius: 3px;
}
 
/* Handle */
::-webkit-scrollbar-thumb {
    -webkit-border-radius: 10px;
    border-radius: 10px;
    background:#b3b3b3; 
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5); 
}

::-webkit-scrollbar-thumb:window-inactive {
	background: rgba(255,0,0,0.4); 
}
