body, html {
  height: 100%;
}

#contentsWrapper {
	width:100%;
	position:relative;
	background-color:#d3cfc7;
}

#contents {
	width:75.5%;
	height:100%;
	position:relative;
	margin-left:200px;
	background-color:white;
	box-shadow:0 5px 35px 0 rgba(0, 0, 0, 0.8);
}

#basics {
	width:100%;
	margin:auto;
	padding-top:7%;
	position:relative;
}

#basicInfo {
	margin:auto;
	width:75%;
	padding-bottom:10px;
}

#basicInfo #collectionNum{
	display:none;
}

#basicInfo #collectionName{
	font-size:25px;
}

#basicInfo #collectionDescription{
	margin-left:10px;
	font-size:15px;
}

#basicButtons{
	position:absolute;
	display:inline;
	right:0px;
	bottom:15px;
	margin-right:12.5%;
}

#basicButtons button{
	background: #00CD97;
	border: 4px none #00cd99;
	-webkit-border-radius: 0.5em;
	color: floralwhite;
}

#follow {
	cursor:pointer;
}

#playList{
	cursor:pointer;
}

#details {
	width:75%;
	margin:auto;
	padding:10px;
	position:relative;
	border-top:1px dotted;
}

#genreRank #rankInfo{
	font-size:12px;
	padding-bottom:10px;
	margin:0px 50px 0px 0px;
	position:relative;
	top:-20px;
	overflow-x:scroll;
	
}

#rankInfo .genreList{
	display:table-cell;
	text-align:center;
}

#genreRank0{
	font-weight:900;
}

.genreList .genre2{
	color:#00cd99;
	border-bottom:1px solid;
	border-color:black;
	padding-bottom:3px;
	width:60px;
	height:30px;
	
}

.genreList .rank{
	padding:3px;
}

.genreList .count{
	padding:3px;
}


#details #songRankAndList{
	font-size:12px;
	padding-top:10px;
	width:50%;
	overflow-x:hidden;
}

#details .songList {
	padding:5px 0px 5px 0px;
	display:table;
}

.songList .genre{
	width:100px;
	display:table-cell	
}

.songList .artistName{
	width:120px;
	display:table-cell
}

.songList .songName{
	width:180px;
	display:table-cell
}

#inputComment {
	padding-left:20px;
}

#imagesAndComments{
	margin-top:50px;
	position:relative;
	width:50%;
	float:right;
	
}

.albumImg {
	height:80px;
	padding:5px;
	margin:5px;
	-webkit-box-shadow:1px 10px 10px silver;
}

#albumImages {
	height:210px;
	margin:auto;
	padding-left:20px;
}

#comments {
	margin-top:60px;
}

#inputComment #commentContents{
	border: 4px solid #00cd99;
	-webkit-border-radius: 1em;
}

#commentContents::-webkit-input-placeholder{
    color:transparent;
    text-align:center;
}

#commentContents::-webkit-input-placeholder::after {
    color:gray;
    content:"\A Talk about This List!";
    font-family:"NANUMGOTHIC";
}

#saveComment {
	position:relative;
	margin-top:40px;
	margin-right:27px;
	width:30px;
	float:right;
	cursor:pointer;
	opacity:0.6;
}

#showComments {
	padding:0px 0px 20px 20px;
	font-size:14px;
}

.commentsDiv{
	margin:1px;
	padding:15px 1px 15px 1px;
	border-bottom:2px solid #eeeeee;
}

.commentsDiv .writer{
	width:200px;
	color:#2793e6;
	font-weight:900;
	display:table-cell
}

.commentsDiv .writeTime{
	font-size:10px;
	width:100%;
	text-align:right;
	display:table-cell
}

.commentsDiv[ismodifycomment='0'] .recentComments{
	display:inline;
}


.commentsDiv[ismodifycomment='0'] .modifyComment{
	width:12px;
	height:12px;
	margin-left:10px;
	cursor:pointer;
}

.commentsDiv[ismodifycomment='0'] .deleteComment{
	width:12px;
	height:12px;
	margin-left:5px;
	cursor:pointer;
}

.commentsDiv[ismodifycomment='1'] .commentModifyContents{
	display:inline;
}

#commentModifyContents{
	border: 3px solid #00cd99;
	-webkit-border-radius: 1em;
}

.commentsDiv[ismodifycomment='1'] .cancleModifyComment{
	width:12px;
	height:12px;
	margin-left:10px;
	cursor:pointer;
} 

.commentsDiv[ismodifycomment='1'] .saveModifyComment{
	width:12px;
	height:12px;
	margin-left:5px;
	cursor:pointer;
}
