canvas {
	position: fixed;
	top: 0px;
	left: 0px;
	background: #2e343e;
}

#content {
	display: table;
	width: 100%;
	height: 100%;
	color: white;
	z-index: 1;
}

#content .table_cell {
	display: table-cell;
}

#content #listingArea {
	position: absolute;
	left: 0px;
	width: 57%;
	height: 600px;
}

#content #listingArea #img_musicListing {
	position: absolute;
	left: 150px;
	top: 40px;
	height: 400px;
	width: 520px;
}

#content #listingArea #userListingInfo {
	position: absolute;
	left: 150px;
	top: 450px;
	height: 70px;
	width: 520px;
	border: 1px;
}

#content #loginArea {
	position: fixed;
	width: 100%;
	text-align: -webkit-center;
	z-index: 3;
	bottom: 5%;
	border : 2px;
}

.iconArea {
	width: 50px;
	height: 30px;
}

#content #loginArea #loginHead {
	font-size: 24px;
}

#content #loginArea .cLoginArea {
	display: table-cell;
	width: 250px;
	opacity: 0.55;
	vertical-align: middle;
}

#content #loginArea #idArea {
	display: table;
	width: 300px;
	height: 50px;
	background-color: #50597b;
	z-index: 3;
	border-radius: 5px;
	border-color: #2e343e;
	text-align: -webkit-left;
	margin: 10px;
}

#content #loginArea #idArea #img_mailIcon {
	top: 50%;
	position: relative;
	margin-left: 10px;
	height: 22px;
	width: 30px;
}

#content #loginArea #idArea #idMsg {
	font-size: 20px;
	color: white;
	z-index: 4;
	padding-left: 10px;
}

#content #loginArea #passwordArea {
	display: table;
	width: 300px;
	height: 50px;
	background-color: #50597b;
	z-index: 3;
	border-radius: 5px;
	margin: 10px;
	border-color: #2e343e;
	text-align: -webkit-left;
		border : 2px;
}

#content #loginArea #passwordArea #img_LockIcon {
	top: 8px;
	position: relative;
	margin-left: 10px;
	height: 30px;
	width: 25px;
}

#content #loginArea #passwordArea #pwMsg {
	font-size: 20px;
	color: white;
	z-index: 4;
	padding-left: 10px;
}

#content #loginArea #signInArea {
	display: table;
	width: 300px;
	height: 50px;
	background-color: #00ce9b;
	z-index: 3;
	border-radius: 5px;
	margin: 10px;
	border-color: #2e343e;
	text-align: -webkit-center;
	vertical-align: middle;
	display: table-cell;
	border : 2px;
	cursor : pointer;
}

#content #loginArea #signInArea #signInMsg {
	font-size: 20px;
	color: white;
	z-index: 4;
}

#content #about_us #developer_card_area {
	height: 150px;
	width: 100%;
}

#content #about_us #developer_card_area .developer_card {
	display: inline-block;
	margin: 10px;
	width: 150px;
	text-align: center;
	heignt: 100px;
	position: relative;
}

#logoArea {
	position: fixed;
	z-index: 1;
	text-align: -webkit-center;
	top: 40%;
}

#signUp{
	margin : 10px;
	z-index: 1;
	bottom: 0;
	color: lightgray;
	cursor: pointer;
}