.contentWrapper {
	width:100%;
	background-color:#d3cfc7;
	top:60px;
	height:2000px;
	position:absolute;	
	height: 723px;
}

.contentWrapper .contents {
	position: relative;
	z-index: 3;
	margin-left: 205px;
	margin-right: 205px;
	background-color: #ffffff;
	height: 650px;
	box-shadow: 0 5px 35px 0 rgba(0, 0, 0, 0.8);
}

.triangle {
	width: 0;
	height: 0;
	border-top: 12px solid #e64c65;
	border-left: 12px solid transparent;
	position: absolute;
	display: inline-block;
	top: 102px;
}

#modifyUser {
	margin: auto;
	width: 700px;
	margin-top: 40px;
	padding-top: 50px;
}

h2 {
	margin-left: 20px;
	padding-top: 28px;
	padding-bottom: 40px;
}

hr {
	opacity : 0.3;
}

.modifyWrapper {
	margin-left : 20px;
}

.btn {
	position: relative;
	left: 40px;
	background: #00CD97;
	border: 4px none #00cd99;
	-webkit-border-radius: 0.3em;
	color: floralwhite;
	width: 65px;
	height: 25px;
}

#deleteBtn {
	border: 2px solid gray;
	-webkit-border-radius: 0.3em;
	background: white;
	color: gray;
	width: 90px;
	height: 35px;
	float: right;
	margin-top: 20px;
	opacity: 0.6;
}

input {
	cursor : pointer;
}

.inputArea {
	border: 3px solid #00CD97;
	margin-bottom: 5px;
	height: 18px;
	width: 150px;
}

.modifyBtn {
	position: relative;
	border: 3px solid #00cd99;
	-webkit-border-radius: 0.3em;
	color: gray;
	width: 65px;
	height: 25px;
	background: white;
	opacity: 0.7;
	margin-left : 5px;
	margin-top: 4px;
}

.valiSpan {
	display:table-cell;
	padding-left: 10px;
}

#deleteUserLayer {
	position: absolute;
	height: 270px;
	width: 270px;
	background-color: white;
	z-index: 11;
	display : none;
	-webkit-border-radius: 0.3em;
}

#deleteUserLayerBtn {
	position:absolute;
	right:0px;
}

#deleteMsg {
	padding-top: 100px;
	padding-left: 70px;
	color: black;
}

#acceptDeleteUserLayerBtn {
	position:absolute;
	bottom:0px;
	right:0px;
}

#closeDeleteUserLayerBtn {
	position: relative;
	background: #00CD97;
	border: 4px none #00cd99;
	-webkit-border-radius: 0.3em;
	color: floralwhite;
	margin-top: 0;
	margin-left: 0;
}

#foggy {
	position:absolute;
	top:0;
	left:0;
	width:100%;
	height:100%;
	background:#000;
	opacity:.5;
	-webkit-filter:alpha(opacity=50);
	z-index :10;
}