#content{
	height:100%;
}

svg{
	background: red;
	background-color: transparent;
	cursor:pointer;
}

text{
	fill : white;
}

#bttnArea{
	position: absolute;
	z-index: 1;
	width: 100px;
	height: 400px;
	top: 25%;
}

.glControl{
	height : 100px;
	cursor : pointer;
}

#mousePanel{
	background-image : url(../../static/img/mouse.png);
}

#listToggle{
	color: white;
	font-size: 13pt;
	height: 25px;
	text-align: right;
	margin-bottom: 20px;
	background: #00cd99;
}

#createList{
	background-image : url(../../static/img/create.png);
}

#rotatingToggle{
	background-image : url(../../static/img/rotate.png);
}

.listBttn {
width: 100%;
height: 10px;
text-align: -webkit-center;
cursor: pointer;
}

.listBttn img{
	width : 60px;
	height : 60px;
}

.mList{
	text-align: -webkit-center;
}

.fList{
	text-align: -webkit-center;
}

#createInput{
	position : relative;
	top : 48px;
	left: 50px;
	width: 200px;
	height: 20px;
	border: 3px solid #00cd99;
}

/* jquery-UI에서 가져옴 : 모달 배경*/
.ui-widget-overlay {
	background: #666666 url("images/ui-bg_diagonals-thick_20_666666_40x40.png") 50% 50% repeat;
	opacity: .5;
	filter: Alpha(Opacity=50);
}

.ui-widget-overlay {
position: fixed;
top: 0;
left: 0;
width: 100%;
height: 100%;
}

.ui-front {
z-index: 100;
}


/* jquery-UI에서 가져옴 : 모달창 전체*/
.ui-widget-content {
	border: 1px solid #dddddd;
	background: #eeeeee url("images/ui-bg_highlight-soft_100_eeeeee_1x100.png") 50% top repeat-x;
	color: #333333;
	text-align: -webkit-center;
}


/* jquery-UI에서 가져옴 : 모달창 title*/
.ui-widget-header {
	background: #00ce9b;
	color: #ffffff;
	font-weight: bold;
	cursor : move;
}

.ui-helper-clearfix:before, .ui-helper-clearfix:after {
content: "";
display: table;
border-collapse: collapse;
}

.ui-helper-clearfix:after {
clear: both;
}

.ui-helper-clearfix:before, .ui-helper-clearfix:after {
content: "";
display: table;
border-collapse: collapse;
}


/* jquery-UI에서 가져옴 : 모달창 body*/
.ui-widget-content {
	background: #eeeeee;
	color: #333333;
	text-align: -webkit-center;
	padding: 3px;
}

.ui-dialog .ui-dialog-titlebar {
	padding: .4em 1em;
	position: relative;
}

/* jquery-UI에서 가져옴 : x버튼(없앰), 나머지 하단 버튼 */
.ui-icon-closethick {
	display : none;
	background-position: -96px -128px;
}

.ui-dialog .ui-dialog-titlebar-close {
	display:none;
}

.ui-button {
	display: inline-block;
	position: relative;
	padding: 0;
	line-height: normal;
	margin-right: .1em;
	cursor: pointer;
	vertical-align: middle;
	text-align: center;
	overflow: visible;
}

.ui-button-icon-only .ui-button-text, .ui-button-icons-only .ui-button-text {
	padding: .4em;
	text-indent: -9999999px;
}

.ui-button-icon-only .ui-icon {
	left: 50%;
	margin-left: -8px;
	position: absolute;
	top: 50%;
	margin-top: -8px;
	display: none;
}

.ui-button .ui-button-text {
	display: block;
	line-height: normal;
}

.ui-state-default .ui-icon {
	display : none;
}

.ui-icon {
	width: 16px;
	height: 16px;
	display: block;
	text-indent: -99999px;
	overflow: hidden;
	background-repeat: no-repeat;
}

.ui-button-text-only .ui-button-text {
	padding: .4em 1em;
}

/* jquery-UI에서 가져옴 : 모서리*/
.ui-corner-all, .ui-corner-bottom, .ui-corner-right, .ui-corner-br {
	border-radius: 4px;
}


.ui-state-default, .ui-widget-content .ui-state-default, .ui-widget-header .ui-state-default {
	border: 1px solid #cccccc;
	background: #f6f6f6
	font-weight: bold;
	color: #1c94c4;
}

.ui-state-hover, .ui-widget-content .ui-state-hover, .ui-widget-header .ui-state-hover, .ui-state-focus, .ui-widget-content .ui-state-focus, .ui-widget-header .ui-state-focus {
	border: 1px solid #fbcb09;
	background: #fdf5ce;
	font-weight: bold;
	color: #c77405;
}

.ui-resizable-handle{
	display : none;	
}

#inputValue{
	text-align : left;
}