body{
	overflow : hidden;
}
#content {
	top: 60px;
	left: 0px;
	width: 100%;
	position: absolute;
}

text{
	cursor: default;
}

.circle {
	stroke: #fff;
	stroke-width: 1.5px;
	cursor: pointer;
}

.line {
	stroke: white;
	stroke-width: 1;
}

#visualizer {
	text-align: center;
	font-size: 11px
}

.slider {
	margin-left: auto;
	margin-right: auto
}

.overlay {
	fill: none;
	pointer-events: all;
}

#toggle {
	position: absolut e;
	background-color: #fff;
	padding-left: 200px;
	padding-right: 200px;
	width: 100%;
}

.contentsArea {
	position: relative;
	top: 0;
	height: 400px;
	width: 100%;
	overflow-y: scroll;
}


#linearList {
	overflow: auto;
	margin-left: 30px;
	right: 15px;
	top: 0;
	font-size: 13px;
	color : white;
}

#linearList ul {
	margin: 0px;
	padding: 0px;
}

#linearList ul li {
	list-style: none;
	text-align: left;
	cursor: default;
}

#linearList img{
	vertical-align: middle;
	float: left;
	margin-right: 10px;
}

#linearList .detail {
	position: relative;
	left: 15px;
	top: 10px;
}

#loading {
	background: #1c242a;
	position: absolute;
	text-align: center;
	top: 0;
	left: 0; width : 100%;
	height: 100%;
	line-height: 50;
	width: 100%;
	color : white;
	z-index: 3;
}

#loadingIcon{
	vertical-align : middle;
}


#playerHeader {
	opacity: 0;
	position: absolute;
	height: 50px;
	display: table;
	width: 100%;
	background-color: #1c242a;
	color: #7a828b;
	top : 0;
	left: 0;
	top: 0;
}

#playerHeader img {
	position: relative;
	left: 11%;
	top: 10px;
}

#playerHeader .share {
	display: inline-flex;
	position: absolute;
	right: 0;
	top: 15px;
}

canvas{
	position : fixed;
	top : 0px;
	left : 0px;
	z-index : -1;
}

#collectionName {
	font-size: 25px;
	position: relative;
	left: 12%;
	top: 10px;
	vertical-align: middle;
}

#controller {
	height: 44px;
	background-color: #181818;
	border: solid 1px #000;
	box-shadow: 0 1px 0 0 rgba(255,255,255,0.05),inset 0 1px 0 0 rgba(0,0,0,0.2);
	border-radius: 3px;
	width: 600px;
	display: table-cell;
	padding-left: 50px;
	top: 88%;
	position: absolute;
	left: 30%;
}

.comp {
	font-size : 20px;
	color : white;
	cursor : pointer;
}

.songInfo {
	margin-top: 1px;
	margin-left: 15px;
	display: inline;
	width: 400px;
	height: 42px;
	position: absolute;
}

.albumImg {
	position : relative;
	width : 40px;
	height : 40px;
}

.albumInfo {
	position: absolute;
	color: white;
	font-size: 14px;
	padding-top: 0;
	margin-left: 10px;
	width: 275px;
	height : 20px;
	white-space:nowrap;
	text-overflow:ellipsis;
	overflow : hidden;
}

#playTime {
	color: white;
	position: relative;
	display: inline;
	top: 11px;
	left: 10px;	
}

#playControl {
	width: 260px;
	position: absolute;
	top: 30px;
	left: 49px;
	border-bottom-right-radius: 4px;
	border-top-left-radius: 4px;
	border: 1px solid #dddddd;
	background: #eeeeee url("images/ui-bg_highlight-soft_100_eeeeee_1x100.png") 50% top repeat-x;
	color: #333333;
	height: 5px;
	opacity: 0.8;
}

.ui-slider-horizontal .ui-slider-range-min {
	top: 0;
	height: 100%;
	background : #00CD97;
}


.ui-slider-handle{
	display : none;
}