body {
	margin:0;
}

#contentWrapper {
	width:100%;
	background-color:#d3cfc7;
	top:60px;
	height:1050px;
	position:absolute;	
}

#contentWrapper #contents {
	position:relative;
	z-index:3;
	margin-left:200px;
	margin-right:200px;
	background-color:#ffffff;
	height:900px;
	box-shadow: 0 5px 35px 0 rgba(0, 0, 0, 0.8);
}

.title {
	position:relative;
	font-weight: bolder;
	font-size: 19px;
	color: black;
}

#contents #sideBar {
	position:absolute;
	display:block;
	width:300px;
	height:900px;	
	margin-left:35px;
	top:20px;
}

#sideBar #search{ 
	position:absolute;
	width:250px;
	height:110px;
}

.autocomplete-suggestions { border: 1px solid #999; background: #FFF; cursor: default; overflow: auto; overflow-x:hidden; -webkit-box-shadow: 1px 4px 3px rgba(50, 50, 50, 0.64); -moz-box-shadow: 1px 4px 3px rgba(50, 50, 50, 0.64); box-shadow: 1px 4px 3px rgba(50, 50, 50, 0.64); }
.autocomplete-suggestion { padding: 2px 5px; white-space: nowrap;  }
.autocomplete-selected { background: #F0F0F0; }
.autocomplete-suggestions strong { font-weight: normal; color: #3399FF; }

#sideBar .box {
	position: relative;
	border: 3px solid #00cd99;
	padding: 0.9em;
	-webkit-border-radius: 1em;
	top: 13px;
	left: 23px;
	height: 20px;
	width: 223px;
	outline: none;
}

.box .inner_box {
	opacity: 0.4;
	padding-left: 10;
	font-size: 12px;
	cursor:pointer;
}

.hr {
	margin-top:65px; border-width:1px 0px 0px 0px;
 	border-style:dotted;
 	border-color:#808080; 
 	height:1px;
}

#sideBar #myFollowingList{
	position : absolute;
	top : 80px;
	cursor: pointer;
}

#sideBar #filter{
	position:absolute;
	top:130px;
	width:250px;
	height:600px;
	overflow-x:hidden;
	padding-top:10px;
}

#submitFilter {
	position: absolute;
	left: 60px;
	top: 12px;
	background: #00CD97;
	border: 4px none #00cd99;
	-webkit-border-radius: 0.5em;
	color: floralwhite;
	width: 60px;
	height: 25px;
}


#sideBar #filter .selectArea p{
	margin : 0px;	
	
}

#sideBar #filter .selectArea {
	position:relative;
	top:13px;
	left:30px;
}

input[class="tags"] + label {
   display: inline-block;
   width: 11px;
   height: 11px;
   background-color: #bcbcbc;
   cursor: pointer;
   margin-right:10px;
}

input[class="tags"]:checked + label {
    background-color: #00cd99;
}

input[class="tags"] {
  display: none;
}

#noTags {
	left:-10px;
}

.formArea{
	position:relative;
	top:10px;
	left:38px;
	font-size: 16px;
	line-height: 1.6em;
	padding-bottom:15px;
}

.box .inner_box {
	opacity: 0.4;
	padding-left: 10;
	font-size: 12px;
	cursor:pointer;
}

.triangle {
	width: 0;
	height: 0;
	border-top: 12px solid #e64c65;
	border-left: 12px solid transparent;
	position: relative;
	display: inline-block;
	left: 15px;
	top: 20px;
}

#lists {
	float: right;
	width: 75%;
	background-color: #ffffff;
	color: black;
	padding-left: 35px;
	padding-top: 15px;
}

#lists .listsLabel { 
	display: table-cell;
	position: relative;
	padding-left: 35px;
	font-size: 19px;
	color: black;
	font-weight: 900;
	top : 5px;
}

#lists #topList{
	display: block;
	width: 100%;
	height: 350px;
	position: relative;
	left: 28px;
	margin-bottom: 30px;
}

#lists #sharedPublicList{
	display:block;
	width:100%;
	position:relative;
	left:30px;
}

#lists #filteredList{
	display:block;
	width:100%;
	position:relative;
	left:45px;
}

#lists #filteredListLabel{
	padding-left:25px;
	margin:20px 10px 10px 10px;
	display:none;
	width:85%;
	color:#7a828b;
	font-size:22px;
	font-weight:900;
	color:black;
}

#lists #filteredListTriangle{display:none;}

#lists #topList .lists {
	width: 200px;
	height: 280px;
	margin-right: 55px;
}

#topList .ribbon {
	height:60px;
	position:relative;
	left:-90px;
	top:-200px;
}

#topList .rank{
	position: relative;
	font-size: 14px;
	font-weight: 900;
	color: white;
	left: -50px;
	top: -205px;
}

#topList .elementsDiv{
	position:relative;
	margin: 10px;
}

.elementsDiv {
	margin: 5px;
}

#topList .lists #followerImg{
	position: relative;
	width: 12px;
	margin-left: 10px;
	padding: 0;
	display : inline;
}

#topList .lists .collFollower{
	position: relative;
	font-size: 11px;
	opacity: 0.7;
	display : -webkit-inline-box;
}

#topList .lists #img{
	width:198px;
	height:170px;
}

#topList .lists .overlayRect{
	width : 198px;
	height : 170px;
	position : absolute;
	background : black;
	opacity : 0.7;
	z-index : 3;
}

#topList .lists #follow {
	margin-top: 60px;
	width: 6%;
	margin-left: 8px;
	
}

#topList .lists #unFollow {
	margin-top: 60px;
	width: 6%;
	margin-left: 8px;
	
}

#topList .lists #play {
	margin-top: 42px;
	margin-left: 55px;
	width: 10.5%;
}

#topList .lists #more {
	margin-top: 60px;
	margin-left: 140px;
	width: 6%;
}

#lists .lists {
	display: block;
	width: 170px;
	height: 250px;
	border: 1px solid grey;
	float: left;
	background-color: #ffffff;
	margin-top: 30px;
	margin-right: 10px;
}

.overlayAdd {
	cursor : pointer;
}

.lists span {
	padding-top:5px;
}

#lists #img {
	display: block;
	width: 168px;
	height: 160px;
	margin: auto;
	border-bottom: 0.5px solid;
}

#lists .collName {
	font-size: 17.5px;
	font-weight: 700;
	color: black;
	display: table-cell;
	padding-top: 0px;
}

#lists .collDescript {
	font-size: 13px;
	margin: auto;
	width: 100%;
	display: block;
	color: black;
	height: 55px;
	opacity: 0.6;
	white-space:nowrap;
	text-overflow:ellipsis;
	overflow:hidden;
}

#lists .followerImg {
	width: 10px;
	padding-top: 5px;
	display: table-cell;
	margin-left: 8px;
	margin-right: 3px;
}

#lists .collFollower {
	display: table-cell;
	font-size: 10px;
}

.overlayRect{
	width : 168px;
	height : 160px;
	position : absolute;
	background : black;
	opacity : 0.7;
	z-index : 3;
}

.overlayAdd{
	display: table-cell;
	position : absolute;
	z-index : 4;
}

.lists #follow {
	margin-top: 60px;
	width: 6%;
}

.lists #unFollow {
	margin-top: 60px;
	width: 6%;
}

.lists #play {
	margin-top:40px;
	margin-left:43px;
	width:10%;
}

.lists #more {
	margin-top: 60px;
	margin-left: 123px;
	width: 6%;
}

