.contentWrapper {
	width:100%;
	background-color:#d3cfc7;
	top:60px;
	height:2000px;
	position:absolute;	
	height: 723px;
}

.contentWrapper .contents {
	position: relative;
	z-index: 3;
	margin-left: 205px;
	margin-right: 208px;
	background-color: #ffffff;
	height: 650px;
	margin-top: 40px;
	box-shadow: 0 5px 35px 0 rgba(0, 0, 0, 0.8);
}

.triangle {
	width: 0;
	height: 0;
	border-top: 12px solid #e64c65;
	border-left: 12px solid transparent;
	position: absolute;
	display: inline-block;
	top: 105px;
	left: 30%;
}

.titleArea {
	width: 70px;
}

#signUpWrapper {
	margin-left: 150px;
	padding-top: 200px;
}

#signUpTitle {
	position: absolute;
	left: 32%;
	top: 15%;
	margin: 0px;
	letter-spacing: 3px;
}

#signUpInput {
	position:absolute;
	left:38%;
	top:30%;
	margin:0px
}

#signUpButton {
	border: 2px solid gray;
	-webkit-border-radius: 0.3em;
	background: white;
	color: gray;
	width: 90px;
	height: 35px;
	float: right;
	margin-top: 20px;
	opacity: 0.6;
}

#signUpRapper {
	margin: auto;
	width: 700px;
}

hr {
	opacity : 0.3;
}

.content {
	padding-bottom: 20px;	
}

.inputArea {
	border: 3px solid #00CD97;
	margin-bottom: 5px;
	height: 18px;
	width: 180px;
}

input {
	cursor : pointer;
}

.check {
	padding-top: 8px;
	opacity: 0.7;
}