header .menubar .unifiedSearch {
	width: 300px;
	background-color: #1b1f23;
	padding: 0.5em;
	-webkit-border-radius: 0.9em;
	border: 1px none black;
	display: inline;
	position: absolute;
	top: 13px;
	height: 26px;
	margin-left: 230px;
	padding-top: 4px;
	outline: none;
	padding-left: 15px;
}

.contentWrapper {
	width:100%;
	background-color:#d3cfc7;
	top:60px;
	height:2150px;
	position:absolute;	
}

.contentWrapper .contents {
	position: relative;
	z-index: 3;
	margin-left: 200px;
	margin-right: 200px;
	background-color: #ffffff;
	height: 2070px;
	box-shadow: 0 5px 35px 0 rgba(0, 0, 0, 0.8);
}

.contents .left_content {
	position:absolute;
	display:block;
	width:300px;
	height:1000px;	
	margin-left:35px;
	top:20px;
}

.contents .right_content {
	position:absolute;
	left:285px;
	width: 809px;
	display:block;
	height:1000px;
}

.left_content .cnt_search_box{ 
	position:absolute;
	width:250px;
	height:110px;	
}

.title {
	position:relative;
	font-weight: bolder;
	font-size: 19px;
	margin-top:15px;
	color: black;
}

.cnt_search_box .box {
	position: relative;
	border: 3px solid #00cd99;
	padding: 0.9em;
	-webkit-border-radius: 1em;
	top: 13px;
	left: 23px;
	height: 20px;
	width: 223px;
	outline: none;
}

.listName {
	position: relative;
	border: 3px solid #00cd99;
	padding: 0.9em;
	-webkit-border-radius: 0.7em;
	top: 13px;
	left: 23px;
	height: 10px;
	width: 150px;
	outline: none;
	color: black;
	opacity: 0.8;
}

.box .inner_box {
	opacity: 0.4;
	padding-left: 10;
	font-size: 12px;
	cursor:pointer;
}

.hr {
	margin-top:40px; border-width:1px 0px 0px 0px;
 	border-style:dotted;
 	border-color:#808080; 
 	height:1px;
}

.left_content .filterArea {
	position:absolute;
	top:110px;
	width:250px;
	height:600px;
}

#submitBtn {
	position: absolute;
	left: 60px;
	top: 2px;
	background: #00CD97;
	border: 4px none #00cd99;
	-webkit-border-radius: 0.5em;
	color: floralwhite;
	width: 60px;
	height: 25px;
}

.submitBtn {
	position: absolute;
	left: 60px;
	top: 100px;
	background: #00CD97;
	border: 4px none #00cd99;
	-webkit-border-radius: 0.3em;
	color: floralwhite;
	width: 65px;
	height: 25px;
}

.formWrapper {
	margin-top: 10px;
	overflow: scroll;
	overflow-x: hidden;
	margin-left: 25px;
	width: 220px;
}

.filterArea .selectArea {
	position:relative;
}

.formArea{
	position:relative;
	top:13px;
	left:38px;
	font-size: 16px;
	line-height: 1.6em;
	padding-bottom:15px;
}

input[class="option"] + label {
   display: inline-block;
   width: 11px;
   height: 11px;
   background-color: #bcbcbc;
   cursor: pointer;
   margin-right:0;
}

input[class="option"]:checked + label {
    background-color: #00cd99;
}

.ckValue {
	position : absolute;
	color : gray;'
}

input[class="option"] {
  display: none;
  position: relative;
  top: 2px;
}

.triangle {
	width: 0;
	height: 0;
	border-top: 12px solid #e64c65;
	border-left: 12px solid transparent;
	position: absolute;
	display: inline-block;
	top: 30px;
}

.right_content .songList {
	position:relative;
	overflow:hidden;
	margin-right:25px;
	padding-top: 25px;
}

.right_content .genreDIV {
	display:table;
	width:100%;
	height:35px;
}

.right_content .genreTitle {
	display: table-cell;
	position: relative;
	padding-left: 14px;
	font-size: 19px;
	color: black;
	font-weight: 900;
}

.btn {
	float: right;
	width: 7px;
	cursor: pointer;
	margin-right: 8px;
	position: relative;
	top: 13px;
}

.songList .songWrapper {
	display:relative;
	max-width:100%;
	height:220px;
	padding-left: 10px;
	-webkit-transition:all 1.0s ease-in-out;
}

.songContent {
	display:table-cell;
	position:relative;
	padding-right:20px;
	overflow:visible;
	height:190px;
	padding-top:10px;
}

.songContent .album_border{
	border:1px solid #828987;
	width:132px;
	height:132px;
}

.songContent .albumImg {
	height:130px;
	width:130px;
	padding-bottom:0;
	cursor:pointer;
}

.songContent .albumInfo {
	margin-top:6px;
	width:130px;
	text-align:center;
}

.songContent .artistInfo {
	display:block;
	overflow:hidden;
	max-width:130px;
	font-size:12px;
	padding-top:12px;
	white-space:nowrap;
	text-overflow:ellipsis;
}

.songContent .titleInfo {
	display:block;
	overflow:hidden;
	max-width:130px;
	font-size:12px;
	color:gray;
	white-space:nowrap;
	text-overflow:ellipsis;
}

.autocomplete-suggestions { 
	border: 1px solid #999; 
	background: #FFF; 
	cursor: default; 
	overflow: auto; 
	overflow-x:hidden; 
	-webkit-box-shadow: 1px 4px 3px rgba(50, 50, 50, 0.64); 
	box-shadow: 1px 4px 3px rgba(50, 50, 50, 0.64); 
}
.autocomplete-suggestion { 
	padding: 2px 5px; 
	white-space: nowrap;  
	}

.autocomplete-selected { 
	background: #F0F0F0; 
}

.autocomplete-suggestions strong { 
	font-weight: normal; 
	color: #00cd99; 
}


.overlayRect{
	width : 130px;
	height : 130px;
	position : absolute;
	background : black;
	opacity : 0.7;	
}

.overlayAdd{
	display: table-cell;
	position: absolute;
	top: 60px;
	z-index: 3;
	width: 38px;
	height: 38px;
	text-align: center;
	vertical-align: middle;
	margin-left: 5px;
	cursor : pointer;
}

#play {
	left: 34px;
	top: 53px;
	width: 54px;
	height: 54px;
}

#more {
	left: 85px;
}

#pause {
	left: 40px;
	top: 58px;
}

.music_img {
	display:table-cell;
	position:absolute;
	padding:0;
	width:20px;
	height:20px;
	-webkit-filter: brightness(30);
}

.addSongArea {
	cursor: pointer;
	display: none;
	position: absolute;
	z-index: 20;
	width: 200px;
	left: 60px;
	height: 139px;
	top: 80px;
	background-color: #1c242a;
	overflow: scroll;
	overflow-x: hidden;
	color: white;
	border: 1px solid black;
	opacity: 0.95;
	outline : none;
}

.showMyList {
	display:table;
	overflow:hidden;
	width:440px;
	position:absolute;
	height:150px;
	-webkit-transition:all 1.0s ease-in-out;
}

#player {
	top: 17px;
	position: fixed;
	z-index: 310;
	left: 1008;
}


