@font-face {
	font-family: title;
	src: url("http://localhost:8080/seiren/static/font/HelveticaBlackOblique.ttf");
	src: local(※), url(Helvetica-Black Oblique.ttf) format(‘truetype’);
}

.cus {
	font-family: title;
}